{% extends 'base.html'%}

{% block styles%}
    {{ super() }}
{% endblock %}
{% block content %}
    <div class="container" style="font-family: 'Russo One', sans-serif;">
      <div class="row" style="margin-top:-30px">

          <div class="col-sm-6" style="height:250px">
            <h2> <a href="{{url_for('main.interview')}}">Interview</a></h2>
            <h2> <a href="{{url_for('main.pick_up_line')}}">Pick up lines</a></h2>
            <h2> <a href="{{url_for('main.product')}}">product</a></h2>
            <h2> <a href="{{url_for('main.promotion')}}">promotion</a></h2>
          </div>

    </div>

{% endblock %}
