{% extends 'base.html' %}
 {% import 'macros.html' as macro%}

{%block styles%}
  {{ super() }}
{%endblock%}

<!-- content block -->
{% block content %}
<div class="container">
  <div class="col-md-6">
    <p class="text-left"><a class="btn btn-primary" href="{{url_for('.new_pitch',id=pitches.id)}}">Post Pitch</a></p>
    <div class="well">
      <h3>{{pitches.content}}</h3>
      <h3>{{pitches.user_id}}</h3>
      <h3>{{pitches.category_id}}</h3>
      <p class="text-right"><a class="btn btn-primary" href="/pitch/new/{{pitches.id}}">Add a comment</a></p>
    </div>
  </div>

{% endblock %}
